@tailwind base;
@tailwind components;
@tailwind utilities;

.page-container {
  margin: 0 24px;
}

@media (min-width: 640px) {
  .page-container {
    width: clamp(500px, 65%, 1000px);
    max-width: 100%;
    margin: 40px auto;
  }
}

a {
  color: hsl(218.5, 79.2%, 36.1%);
}

input {
  border: 1px solid hsl(13, 46.3%, 31.4%);
  border-radius: 6px;
}
